<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cryptopricechecker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CryptoPriceChecker"
        tools:targetApi="31">
        <activity
            android:name=".AlgoActivity"
            android:exported="false" />
        <activity
            android:name=".AdaActivity"
            android:exported="false" />
        <activity
            android:name=".NeutrinoActivity"
            android:exported="false" />
        <activity
            android:name=".cryptoActivities.AlgoActivity"
            android:exported="false" />
        <activity
            android:name=".LtcActivity"
            android:exported="false" />
        <activity
            android:name=".SolActivity"
            android:exported="false" />
        <activity
            android:name=".CeloActivity"
            android:exported="false" />
        <activity
            android:name=".DotActivity"
            android:exported="false" />
        <activity
            android:name=".XlmActivity"
            android:exported="false" />
        <activity
            android:name=".UniSwapActivity"
            android:exported="false" />
        <activity
            android:name=".cryptoActivities.AdaActivity"
            android:exported="false" />
        <activity
            android:name=".CakeActivity"
            android:exported="false" />
        <activity
            android:name=".MoneroActivity"
            android:exported="false" />
        <activity
            android:name=".IcpActivity"
            android:exported="false" />
        <activity
            android:name=".TronActivity"
            android:exported="false" />
        <activity
            android:name=".EosActivity"
            android:exported="false" />
        <activity
            android:name=".LinkActivity"
            android:exported="false" />
        <activity
            android:name=".XrpActivity"
            android:exported="false" />
        <activity
            android:name=".NearActivity"
            android:exported="false" />
        <activity
            android:name=".BnbActivity"
            android:exported="false" />
        <activity
            android:name=".EthereumActivity"
            android:exported="false" />
        <activity
            android:name=".BitcoinActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>